div#controls {
    position: sticky;
    top: 0;
    z-index: 100;
    height: 3%;
    background-color: #494949;

    display: flex;
    justify-content: space-between;

    width: 100%;
}

div.control-section {
    height: 100%;
    width: 25%;
    display: flex;

    align-items: center;
    justify-content: center;
}

button {
    font-family: 'Cutive Mono';
    font-weight: bolder;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    transition: font-size 0.05s;
}

button:hover {
    font-size: 20px;
}

button:active {
    font-size: 12px;
}

div.control-section#meta {
    width: 40%;
    justify-content: center;
}

p#info {
    color: white;
    font-weight: bolder;

    margin-left: 8px;
}

span[contenteditable] {
    border: none;
    outline: none;
    padding: 2px;
}

span[contenteditable]:focus {
    border-bottom: solid 1px white;
}

img#more-info {
    height: 24px;

    filter: invert(100%);
}

img#more-info:hover {
    transform: scale(1.05);
}

img#more-info:active {
    transform: scale(0.95);
}